$color-bg-dack:#131313;
$color-bg-light:#FFFFFF;
$color-bg-button:#E3B873;

$text-color1: #FFFFFF;
$text-color2: #E3B873;
$text-color3: #363636;


$font-size-14: 0.875rem; //14px
$font-size-22: 1.375rem;//22px
$font-size-30: 1.875rem; //30px
$line-height-16: 1rem; //16px
$line-height-18: 1.1875rem; //18px
$font-size-button: 0.8125rem; //13px
$line-height-button: 0.9375rem; //15px
$font-size-title: 2.5rem; //40px
$line-height-title: 3.3125rem; //53px
$font-size--h1:3rem;
$font-size--small: 0.75rem;
$line-height: 1.375rem;//22px
$line-height-30: 1.875rem; //30px
$line-height-19: 1.1875rem; //19px

$screen-xs: 375px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 990px;
$screen-xl: 1150px;
$screen-xxl: 1256px;
