


$color-1:#FFFFFF;
$color-2:#131313;
$color-3:#E3B873;
$color-4: rgba(19, 19, 19, 0.7);



$screen-xs: 375px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 990px;
$screen-xl: 1150px;
$screen-xxl: 1256px;
