.section-video{
    background: linear-gradient(to top, $color-1 60%, $color-2 60%);
    @media (max-width: $screen-lg) {
        background: $color-2;
        color:$color-1;
    }
    &__title{
        @include title-section;
        color: #FFFFFF;
    }
    &__icon{
        @include icon-title;
        background-image: url("assets/images/video-icon.png");
    }
    &__text{
        @include text-center;
        position: relative;
        padding: 26px 18px 96px;
        line-height: 34px;
        @media (max-width: $screen-md) {
           font-size: 14px;
            line-height: 24px;
            padding: 15px 18px 30px;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 45%;
            display: block;
            height: 1px;
            width: 55px;
            background-color: $color-3;
        }
    }
}

.video-wrap{
    padding: 26px 0 63px;
    position:relative;
    @include flex;
    @include justify-content($value: center);
    @media (max-width: $screen-md) {
        padding: 40px 0 30px;
    }
    &__video{
        width: 817px;
        height: 434px;
        border:0;
        @media (max-width: $screen-md) {
            height: 300px;
        }
        @media (max-width: $screen-sm) {
            height: 207px;
        }
    }
}

.video-button{
    position: absolute;
    margin: 0 auto;
    top: 38%;
    @include flex;
    @include justify-content($value: center);
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: $color-3;
    @media (max-width: $screen-md) {
        top: 48%;
        height: 35px;
        width: 35px;
    }
    
    &:hover{
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.5);
    }
    img{
        @include align-self($value: center);
        padding-left: 5px;
        
    }
}