.section-repair{
    &__title{
        @include title-section;
        color: #181818;
    }
    &__icon{
        @include icon-title;
        background-image: url("../../assets/images/tools.png");
    }
    &__items{
        @include flex;
        @include justify-content($value: center);
        padding: 0 calc(50% - 618px);
        margin: 30px 0;
        @media (max-width: $screen-xl) {
            flex-wrap: wrap;
        }
        @media (max-width: $screen-md) {
            margin: 40px 0;
        }
    }
    &__item{
        margin: 0 18px 40px;
        @include element;
        @media (max-width: $screen-md) {
            padding: 0;
        }
        &:first-child{
            background-image:  url("../../assets/images/redecorating.png");
        }
        &:nth-child(2){
            background-image:  url("../../assets/images/overhaul.png");
        }
        &:last-child{
            background-image:  url("../../assets/images/repair.png");
        }
    }
    &__item-title{
        @include description-title;
    }
    &__descr-list{
        @include description-list;
    }
    &__item-descr{
        background-color: $color-bg-light;
        margin: 294px auto 0;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        @media (max-width: $screen-md) {
            margin: 223px 0 0;
            width: 270px;
        }
    }
    &__button{
        @include button-style;
        @include button-size;
        background: #E3B873;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
        border: 0;
        position: relative;
        bottom: 25px;
    }
}